* {
  box-sizing: border-box;
}



.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #24527A;
  list-style: none;
  gap: 40px;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

h2 {
  align-content: center;
}

.nav-items a {
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}


.item {
  display: flex;
  padding: 5px;
  gap: 13px;
  margin-bottom: 3px;
}




form {
  margin-top: 17vh;
  padding: 40px;
  min-width: 300px;
  max-width: 380px;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  margin-bottom: 5px;
  display: inline-block;

}



body {
  text-align: center;
}

label {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.submit input {

  display: inline-block;
  background-color: #24527A;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: all .3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
}

#search {
  display: inline-block;
  background-color: #24527A;
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: all .3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;

}



#del {

  display: inline-block;
  background-color: #24527A;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: all .3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-top: 5px;

}


.form input {

  border-radius: 6px;
  font-size: 12px;
  background: #fbfbfb;
  border: 1px solid transparent;
  height: 20px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);


}

#submit:hover,
#del:hover,
#search:hover {
  background-color: #1d4364;
  box-shadow: none;

}

form h2 {
  color: black;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  color: rgb(250, 250, 250);
  display: inline-block;
  cursor: pointer;
  padding: 0px 10px;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio input:checked+label {
  background: #24527A;
}


.radio {
  background-color: #000000;
  border: solid 1px #332f35;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.main-container {
  display: flex;
}

.page {
  margin: auto;
  padding: 20px;
  text-align: center;
}

#course,
#Department {
  margin-top: 5px;
}

select {
  -webkit-appearance: none;
  padding: 7px 0px 7px 12px;
  border: 1px solid #d1cece;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #4f5157;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;

}

#fnameValid,
#lnameValid,
#IDValid {
  display: none;
}


[class*="col-"] {
  float: left;
}

.col-1 {
  width: 60%;
}

.col-2 {
  width: 40%;
}

@media only screen and (max-width: 800px) {

  /* For desktop: */
  [class*="col-"] {
    width: 100%;
  }

  form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

  }

}