* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    min-height: calc(100vh - 77px);
    position: relative;
}

/* [BEGIN] Navigation bar */
nav {
    display: flex;
    position: fixed;
    background-color: #24527a;
    justify-content: flex-end;
    align-items: center;
    min-height: 7vh;
    max-height: 7vh;
    width: 100%;
    font-family: 'poppins', sans-serif;
    z-index: 1231;
    top: 0;
}

#logo {
    position: fixed;
    width: 200px;
    height: 150px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    transition: width .4s ease-in-out;
    z-index: 9999;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.left {
    margin-right: 300px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#Minilogo {
    display: none;
    width: 150px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.menu {
    position: fixed;
    left: 0;
    display: none;
}

.menu div {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

nav span {
    display: none;
}
/* [END] Navigation bar */

/* [BEGIN] Students table */
table {
    border-collapse: collapse;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
    margin: 0px 25px;
    width: calc(100% - 50px);
}

th,
td {
    padding: 20px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #F0F0F0;
}

.table-tools {
    align-items: center;
    background-color: #24527A;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    margin: 77px 25px 0px 25px;
}

.table-tools span {
    color: #ffffff;
    flex-grow: 1;
    font-weight: bold;
    font-size: 25px;
    margin: 25px 25px;
}

#add-student-button {
    background-color: #ffffff;
    border-radius: 20px;
    color: #24527A;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: none;
}

#add-student-button i {
    padding-left: 10px;
}

#add-student-button:hover {
    opacity: 0.75;
}

#search-field {
    background-color: #ffffff;
    border: 0px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    outline: none;
    padding: 10px 15px;
}

#search-button {
    background-color: #ffffff;
    border: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 25px;
    padding: 10px 15px;
}

#search-button i {
    padding-left: 10px;
}

#status-column i {
    margin: 8px;
}

#filter-department,
#filter-status {
    border: none;
    font-size: 18px;
    outline: none;
    padding: 20px 20px 0px 20px;
    width: 60px;
}

#filter-department:hover,
#filter-status:hover {
    cursor: pointer;
}

#actions-column {
    text-align: center;
}

#actions-column i {
    cursor: pointer;
    margin-right: 10px;
}
/* [END] Students table */

/* [START] Modals */
#delete-modal,
#success-modal {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 30px;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-text p {
    font-size: 20px;
    font-weight: 500;
}

.modal-actions {
    display: flex;
}

.cancel,
.delete,
.okay {
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
}

.cancel {
    background: #24527A;
    margin-left: 90px;
    margin-right: auto;
    padding: 10px 15px;
}

.delete {
    background: #dc3545;
    margin-right: 90px;
}

.okay {
    background-color: #198754;
    margin-left: 110px;
}

.cancel:hover,
.delete:hover,
.okay:hover {
    opacity: 0.75;
}
/* [END] Modals */

/* [BEGIN] Footer */
footer {
    background-color: #24527A;
    bottom: 0;
    box-sizing: border-box;
    padding: 6px;
    position: absolute;
    width: 100%;
}

footer P {
    color: white;
    text-align: center;
}
/* [END] Footer */