*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body{
    width: 100%;
}

:root{
    --primary-color: #24527A;
    --secondary-color: #E0EBEB;
}

/* Start NavBar */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--primary-color);
    padding: 1rem;
    position: relative;
}

.logo{
    font-size: 2rem;
}

.nav-container .menu{
    display: none;
}
.nav-container .menu{
    position: relative;
}
.nav-container .menu,
.nav-container .menu::after,
.nav-container .menu::before{
    content: '';
    width: 20px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.nav-container .menu::after,
.nav-container .menu::before{
    position: absolute;
}

.nav-container .menu::before{
    bottom: 8px;
}
.nav-container .menu::after{
    top: 8px;
}

.logo a{
    text-decoration: none;
    color: #fff;
}
.nav-list{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-item{
    margin-right: 1.4rem;
    transition: all .3s;
    padding: .5rem;
    position: relative;
    border-radius: 10px;
}
.nav-item .dropdown{
    list-style-type: none;
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    left: 0;
    top: 40px;
    display: none;
}

.nav-item:hover .dropdown, .dropdown:hover, .nav-item:focus-within .dropdown{
    display: block;
}

.dropdown .dropdown-item{
    padding: .2rem;
    text-align: center;
}

.dropdown .dropdown-item > .nav-link{
    display: block;
    padding: .4rem;
    margin: auto;
    border-radius: 10px;
}

.dropdown .dropdown-item > .nav-link:hover{
    background-color: var(--secondary-color);
    color: #24527A;
}

.nav-item:hover{
    background-color: var(--secondary-color);
}
.nav-item:hover > .nav-link{
    color: var(--primary-color);
}
.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}


@media screen and (max-width: 852px){
    .nav-list{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        display: block;
        height: auto;
        padding: .8rem;
    }
    .nav-list.hide{
        display: none;
    }    
   .nav-container .menu{
      display: block;
   }
   .nav-item .dropdown{
    z-index: 999;
   }
    
   
}


/* End NavBar */

/* Start add Course Form */
.container{
    width: 500px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}
.container h1{
    font-weight: 600;
    color: #0C0909;
    text-align: center;
    margin-bottom: 12px;
}
.form-control{
    width: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
}

.form-control label{
    display: block;
    width: 40%;
    font-weight: 500;
}
.form-control .wrapper{
    width: 60%;
}
.form-control .wrapper input, .form-control .wrapper select{
    appearance: none;
    display: block;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    padding: 4px;
    border: 2px solid #eee;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.form-control .wrapper .error{
    color: #ff4444;
    font-size: 13px;
    font-weight: 600;
}

.form-control input[type="submit"]{
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition: all .3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.form-control input[type="submit"]:hover{
    background-color: #1d4364;
    box-shadow: none;
}

@media screen and (max-width: 574px) {
    .container{
        width: 300px;
    }
    .form-control{
        flex-direction: column;
        gap: 12px;
    }

    .form-control label, 
    .form-control .wrapper{
        width: 100%;
    }
}
/* End add Course Form */
