*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}




.nav-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #24527A;
    list-style:none;
    gap:40px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    padding:15px;
}


.nav-items a{
    padding:10px;
    color:#ffffff;
    font-size: 20px;
    text-decoration: none;
}


.item{
    display :flex;
    padding:5px;
    gap:13px
}




form{
    padding: 40px;
    min-width: 300px;
    max-width: 380px;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

}




label{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.submit input
{
    display: inline-block;
    border: 0;
    font-size: 20px;
    font-weight: 100;
    color: #fdfdfd;
    cursor: pointer;
    background-color: maroon;
    border-radius: 3px;
    padding:10px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 110px;
    
    
}


.Form input{
    
    border-radius: 6px;
    font-size: 12px;
    background: #fbfbfb;
    border: 1px solid transparent;
    height: 20px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    

}
input:focus{
    border: 2px dotted #000;
    border-radius: 4px;
    
}
.submit input:hover {
    background-image: none!important;
}

form h2{
    color:maroon;
    text-align: center;
}

.btn{
    color:rgb(250, 250, 250);
    display: inline-block;
    cursor: pointer;
    padding: 0px 10px;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

 .radio input:checked + label{
    background: maroon;
  }


  .radio {
    background-color: #000000;
    border: solid 1px #332f35; 
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
  }

.main-container{
    display: flex;
}
.page{
    margin:auto;
    padding:20px;
    text-align: center;
}
#course , #Department
{
    margin-top: 5px;
}

select{
    -webkit-appearance: none;
    padding: 7px 0px 7px 12px;
    border: 1px solid #d1cece;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #4f5157;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;

}

#fnameValid , #lnameValid , #IDValid {
    display: none;
}

main{
    display: flex;
    justify-content: space-evenly;
}

[class*="col-"] {
    float:left;
}


@media only screen and (max-width: 800px) {
    /* For desktop: */
    main{
        flex-direction: column;
    }
    form{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

    }
    
  }
 
/*NAV*/
nav{
    display: flex;
        position: fixed;
    background-color: maroon;
    justify-content: flex-end;
    align-items: center;
    min-height: 7vh;
    max-height: 7vh;
    width:100%;
    font-family: 'poppins' , sans-serif;
    z-index: 1231;
}
#logo{
    position: fixed;
    width:200px;
    height: 150px;
    left: 50%;
    top: 0; 
    transform: translateX(-50%);
    transition: width .4s ease-in-out;
    z-index: 9999;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;

}
.left{
    margin-right: 300px;
}
.nav-links li {
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size:14px;
}
#Minilogo{
    display: none;
    width:150px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.menu{
    position: fixed;
    left:0;
    display: none;
}
.menu div{
    
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

nav span {
    display: none;
}

@media only screen and (max-width:1050px) {
   
    .nav-links a {
        font-size: 11px;
    }
}
@media only screen and (max-width:900px)
{
    body{
        overflow-x: hidden;
    }
     #logo{
        display: none;
    }
      
    .left{
        position: absolute;
        left:0px;
        height: 93vh;
        top:7vh;
        background-color: maroon;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        }
    .right{
        position: absolute;
        right:0px;
        height: 93vh;
        top:7vh;
        background-color: maroon;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .nav-links a {
        font-size: 15px;
    }
    
    #Minilogo{
        display: block;
        z-index: 11111;
    }
    .menu  {
        display: block;
        cursor: pointer;
    }
    .nav-active{
        transform: translateX(0%);
    }
    nav span{
        display: block;
        color:white;
        font-size: 20px;
        margin-right: 50px;
        z-index: 100;
    }
}
  

footer
{
    background-color: maroon;
    padding: 6px;
    
}
footer P {
    color:white;
    text-align: center;
}
